/* lexend-regular - latin-ext_latin */
@font-face {
    font-family: 'Lexend';
    font-style: normal;
    font-weight: 400;
    src: local(''),
         url('./fonts/lexend-v7-latin-ext_latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('./fonts/lexend-v7-latin-ext_latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }

/* sansita-regular - latin */
@font-face {
    font-family: 'Sansita';
    font-style: normal;
    font-weight: 400;
    src: local(''),
         url('./fonts/sansita-v5-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('./fonts/sansita-v5-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* sansita-italic - latin */
  @font-face {
    font-family: 'Sansita';
    font-style: italic;
    font-weight: 400;
    src: local(''),
         url('./fonts/sansita-v5-latin-italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('./fonts/sansita-v5-latin-italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* sansita-900 - latin */
  @font-face {
    font-family: 'Sansita';
    font-style: normal;
    font-weight: 900;
    src: local(''),
         url('./fonts/sansita-v5-latin-900.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('./fonts/sansita-v5-latin-900.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }

  /* open-sans-regular - latin */
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: local(''),
         url('./fonts/open-sans-v27-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('./fonts/open-sans-v27-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* open-sans-700 - latin */
  @font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    src: local(''),
         url('./fonts/open-sans-v27-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('./fonts/open-sans-v27-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }


body {
    background-color:transparent;
    display: grid;
    justify-items: center;
    width: auto;
    margin: 0;
}

h3 {
    font-family: 'Open Sans';
    font-weight: 700;
}

p {
    font-family: 'Open Sans';
    font-weight: 400;
}

#content {
    width: auto;
    display: grid;
    justify-items: center;
    background-color: transparent;
    background-size: object-fit;
}

.nav-container {
    display: grid;
    grid-column-gap: 5px;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: rgb(15, 39, 1);
    height: auto;
    width: 100%;
}

#restaurant-name {
    font-family: 'Lexend';
    font-style: normal;
    font-size: 2.3em;
    grid-column: 1/4;
    grid-row: 1;
    color: #fff;
}

.nav-tab {
    display: flex;
    align-content: center;
    font-family: 'Sansita';
    color: #fff;
    background-color: rgb(15, 39, 1);
    width: auto;
    height: 50px;
}

.nav-tab:hover {background-color: #3e8e41}

.nav-tab:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.nav-tab-selected {
    background-color: #3e8e41;;
}

.page {
    width: 100%;
    display: grid;
    justify-items: center;
    background-color: transparent;
}

.page-home {
    width: 100%;
    background-color:transparent;
}

.page-menu {
    background-color: transparent;
}

.page-contanct {
    background-color: #fff;
}

.item {
    background-color:transparent;
}

.main-heading {
    font-family: 'Sansita';
    font-style: normal;
    font-weight: 900;
    background-color: transparent;
}

.main-heading-container {
    background-color: yellowgreen;
}

.sub-heading {
    font-family: "Sansita";
    font-style: italic;
    background-color:transparent;
}

.menu-item {
    background-color: #fdd;
}

.menu-item-container {
    /* display: grid;
    justify-items: center; */
    background-color: rgba(174, 247, 133, 0.555);
}

.item {
    display: grid;
    justify-items: center;
}

.img-menu {
    width: 100%; 
    height: 500px;
    object-fit: cover;
}